<div class="container">
	<div class="text-center">
		<%= image_tag('papillon.jpg', class: "rounded-circle") %>
	</div>
	<h2>Welcome to My Portfolio</h2>
	<p>36歳のフリーランス。 仕事や趣味として作成した作品を掲載しています。</p>
	<%= link_to 'my Portfolio', portfolio_index_path ,class:"btn btn-primary"%>
</div>