/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 p {
	 margin-bottom: 0;
 }
 .card-img-top {
	 width: 100%;
 }

 .footer__icon {
	 background-color: #fff;
	 width: 50px;
	 border-radius: 50%;
	 margin: 5px;
	 padding: 5px;
 }

 .first,
 .prev,
 .page,
 .next,
 .last
  {
	 border: 1px solid rgba(0,0,0,.125);
	 padding: 5px;
	 border-radius: 5%;
	 margin-right: 3px;
	 margin-bottom: 2rem;
 }

 .header_image {
	min-height: 30rem;
	position: relative;
	display: table;
	width: 100%;
	height: auto;
	padding-top: 10rem;
	padding-bottom: 8rem;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 0%),url("../images/idea.jpg");
	background-position: top center;
 	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	margin-top: -4rem;  
	background-attachment: fixed;
 }

 .header_content {
	display: block;
	background: rgba(0, 0, 0, 0.735);
 }

 .header_content h2 {
	 font-size: 4rem;
 }

 .header_content p{
	 font-size: 1.5rem;
 }

 .about-me {
	background:rgba(0, 0, 0, 0.735);
 }

 .portfolio {
	min-height: 30rem;
	position: relative;
	display: table;
	width: 100%;
	height: auto;
	padding-top: 10rem;
	padding-bottom: 8rem;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 0%),url("../images/idea.jpg");
	background-position: bottom center;
 	background-repeat: no-repeat;
	background-size: cover;
	height: 30vh;
	margin-top: -4rem;  
	background-attachment: fixed;
 }

 .portfolio-box {
	background:rgba(0, 0, 0, 0.735);
 }

 .portfolio-box p {
	 padding: 6rem;
	 border: 1px solid #fff;
	 background: #fff
 }

