<div class="container">
<h1>カテゴリー編集</h1>

<%= render 'form', category: @category %>

<%= link_to 'Show', @category ,class: "badge badge-dark" %> |
<%= link_to 'Back', categories_path ,class: "badge badge-dark" %>
</div>